html{
    font-family: 'Arvo', serif !important;

}
#logo{
    width: 12rem;
    height: auto;
    padding: 0;
    cursor: pointer;
}
.txtColor{
    --bs-text-opacity: 1;
    color: black !important;
}
main{
    margin-top: 10rem;
    margin-bottom: 4rem;
}
.navHover:hover {
    color: #53435B;
    text-decoration: underline;
}
#titulo{
    font-size: 4rem;
    color: white;
}
.formMap{
    min-width: 40% !important;
}
.seccionDonacion_datos{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border: 0.5px solid #00000000;
    margin-bottom: 2rem;
    align-items: center;  
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    width: 15rem;    
}
.imgCard{
    width: -webkit-fill-available;
}

.botonDonar{
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid #AEA4F2;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: #fff;
    color: #111;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}
.botonDonar:hover{
    margin-top: 4rem;
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1.5rem;
    border: 2px solid #AEA4F2;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: #AEA4F2;
    color: white;
    cursor: pointer;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-decoration: none;
}

.mainHome{
    margin-top: 5rem;
    background-size: cover;
    display: flex;
    align-items: flex-end;
    height: 80vh;
    align-items:flex-end;
    animation-name: imgRotate;
    background: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url(../images/portada3.jpeg);
    animation-iteration-count: infinite;
    animation-duration: 10s;
}
#sectionAdopta__table th, #sectionAdopta__table td {
    padding: 8px;
    text-align: center;
}
@keyframes imgRotate {
    0% {
        background: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url(../images/portada3.jpeg);
        background-size: cover;
        display: flex;
        align-items:center;
    }
    25% {
        background: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url(../images/portada2.jpeg);
        background-size: cover;
        display: flex;
        align-items:center;
    }
    50% {
        background: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url(../images/portada.jpeg);
        background-size: cover;
        display: flex;
        align-items:center;
    }
    75% {
        background: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url(../images/portada4.jpeg);
        background-size: cover;
        display: flex;
        align-items:center;
    }
    100% {
        background: linear-gradient(rgba(26, 26, 26, 0.3), rgba(26, 26, 26, 0.3)), url(../images/portada5.jpeg);
        background-size: cover;
        display: flex;
        align-items:center;
    }
}
