.imgCarrito{
    width: 35%;
    height: auto;
}
.cantidadCarrito{
    height: 1rem !important;
    width: 50%;
    align-content: center;
    padding-top: 0.7rem !important;
}
.carrito{
    color: black;
}
.montoCarrito{
    font-size: 1.3rem;
    margin: 0.1rem;

}
.columnaNombreCarrito{
    width: 11rem ;
}
.card-text-carrito{
    font-size: 0.8rem;
    margin: 0;
}
.botonPersonalizadoCompra{
    font-size: 1rem;
}
.botonPersonalizadoCompra:hover {
    border: 1px solid #AEA4F2;
    background-color: #AEA4F2;
    color: #fff;
    cursor: pointer; 
    font-size: 1rem;
}

.display-none{
    display: none;
}
.botonPersonalizadoTrash, .botonPersonalizadoTrash:hover{
    text-align: center;
    font-size: 1rem;
    border: 2px solid #AEA4F2;
    border-bottom-left-radius: 10%;
    border-top-right-radius: 10%;
    background-color: #fff;
    color: #111;
    cursor: pointer;
    text-decoration: none;
}

.botonPersonalizadoTrash:hover {
    border: 2px solid #AEA4F2;
    background-color: #AEA4F2;
    color: #fff;
    cursor: pointer; 
}
.toastyExito{
    text-align: center;
    font-size: 0.8rem;
    border-radius: 3%;
    background-color: green;
    color: #111;
    cursor: pointer;
}
.carritoVacio{
    justify-content: center;
    align-content: center;

}