.formMap{
    min-width: 40% !important;
}
#googleMaps{
    @include tamanio(100%, 30rem);
}
.focusColor:focus {
    color: #000000;
    background-color: #fff;
    border-color: $colorPrincipal;
    outline: 0;
    box-shadow: 0 0 0 0.25rem $colorPrincipalSombra;
}
.botonPersonalizado{
    margin-top: map-get($estiloBoton,mt);
    margin-bottom: map-get($estiloBoton,1rem);
    text-align: map-get($estiloBoton,centro);
    font-size: (map-get($estiloBoton,1rem)*1.5);
    border: map-get($estiloBoton,border);
    border-bottom-left-radius: map-get($estiloBoton,radius);
    border-top-right-radius: map-get($estiloBoton,radius);
    background-color: map-get($estiloBoton,bc);
    color:map-get($estiloBoton,colortxt);
    cursor: map-get($estiloBoton,cursor);
    padding-top: map-get($estiloBoton,1rem);
    padding-bottom: map-get($estiloBoton,1rem);
    padding-left: map-get($estiloBoton,1rem);
    padding-right: map-get($estiloBoton,1rem);
    text-decoration: map-get($estiloBoton,none);
}
.botonPersonalizado:hover{
    @extend .botonPersonalizado;
    border: map-get($estiloBoton,border);
    background-color: map-get($estiloBoton,bgp);
    color: map-get($estiloBoton,bc);
    cursor: map-get($estiloBoton,pointer);
}