#logo{
    @include tamanio(12rem, auto);
    padding: 0;
    cursor: pointer;
}
.navHover:hover {
    color: $colorPrincipal;
    text-decoration: underline;
}
.txtColor, .txtColorCarrito{
    --bs-text-opacity: 1;
    color: black !important;
}
.txtColor:hover{
    --bs-text-opacity: 1;
    color: $colorPrincipal !important;
    font-size: 1.1rem;
}
.txtColorCarrito:hover{
    --bs-text-opacity: 1;
    color: $colorPrincipal !important;
    font-size: 1.6rem;
}
.carrito{
    font-size: 1.5rem;
}