#sectionAdopta__table th{
    padding: 8px;
    text-align: center
}
#sectionAdopta__table td {
    padding: 8px;
    text-align: center
}
.alink{
    --bs-text-opacity: 1;
    color: black !important;
    display:inline;
}
.alink:hover{
    --bs-text-opacity: 1;
    color: $colorPrincipal !important;
}