.montoDonacion{
    font-size: 1rem;
    margin-bottom: 1rem;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.altotexto{
    height: 3rem;
}
.notificacion{
    font-size: 0.7rem;
}
.sinProducto{
    margin-top: 5rem;
}